<%= stylesheet_link_tag "home.css" %>
<div class="container">
    <span>Exibindo <%= @candies.length %> doces</span>
    <div class="candies-grid">
        <% @candies.each do |candy| %>
                <%= render partial: "application/candy_card", locals: { candy: candy } %>
        <% end %>
    </div>
</div>
