
.cart-item-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cart-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: lightblue;
    padding: 1rem;
    border-radius: 10px;
}

.cart-item-price {
    font-size: 1.4rem;
}

.cart-item-title {
    font-size: 1.5rem;
}

.cart-item-quantity {
    font-weight: bold;
}

.quantity-control {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin: 0.5rem 0;   
}

.quantity-control button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: transparent;
}

.quantity-control button.remove {
    color: red;
}

.quantity-control button:hover {
    cursor: pointer;
}