

.card {
    box-shadow: 1px 1px 3px #aaa;
    padding: 1rem;
    border-radius: 10px;
    background-color: #fff;
}

.btn {
    border: none;
    padding: 1rem 2rem;
    font-size: 1rem;
    border-radius: 5px;
}

.primary {
    background-color: steelblue;
    color: #fff;
}

.btn:hover {
    cursor: pointer;
}

.input {
    border: 1px solid #999;
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 5px;
}

.input-small {
    border: 1px solid #999;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 5px;
}