.container {
    padding: 2rem;
}

.candies-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-top: 1rem;
}

.candy-box {
    background-color: lightblue;
    padding: 1rem;
    border-radius: 10px;
}

.title-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.cart {
    background-color: lightblue;
    padding: 0.5rem;
    border-radius: 10px;
    position: relative;
    display: block;
    text-decoration: none;
    color: #000;
}

.cart-size {
    font-weight: bold;
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: steelblue;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: whitesmoke;
}

.cart-price {
    font-size: 1.5rem;
}

.price-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.candy-box .name {

}

.candy-box .description {

}

.candy-box .price {
    font-size: 1.5rem;    
}

.candy-box .button {
    border: none;
    background-color: steelblue;
    padding: 0.4rem 0.6rem; 
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
}

.candy-box .button:hover {
    cursor: pointer;
}