.container-product {
    padding: 2rem 15rem;
}

.product-title {
    font-size: 2rem;
    color: #333;
}

.product-description {
    color: #666;
    margin: 1rem 0;
}

.product-stars {
    display: flex;
    gap: 0.3rem
}

.product-stars .rating-value {
    color: #999;
    font-size: 0.9rem;
}

.image-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 400px;
}

.image-box img {
    max-height: 400px;
}

.container {
}

.product-form {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.product-info {
    flex: 2;
}

.price-box {
    flex: 1;
}

.product-price {
    font-size: 3rem;
    color: #333;
    margin: 1rem 0;
}

.product-form-footer {
    display: flex;
    justify-content: flex-end;
}

.add-cart-button {
    background-color: steelblue;
    color: #fff;
    margin-left: 1rem;   
    align-items: center;
    display: flex;
}

.add-cart-button .icon {
    margin-left: 0.5rem;
    display: flex;
    align-items: center;
}

.quantity-box {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.quantity-box button {
    height: 100%;
}


.quantity-control {
    border: none;
    background-color: transparent;
}

.quantity-control:hover {
    cursor: pointer;
}

.control-add {
    color: greenyellow;
}

.control-remove {
    color: red;
}

.unit-box {
    padding: 0 2rem;
}

.item-added {
    background-color: green;
}

.review-form {
    margin-top: 1rem;
}

.stars-list {
    display: flex;
}

.review-form input[name="rating_text"] {
    width: 100%;
}

.review-form-stars-line {
    display: flex;
    margin-bottom: 1rem;
    justify-content: space-between;
    align-items: center;
}

.no-reviews {
    color: #999;
    text-align: center;
    margin-top: 1rem;
}

.reviews {
    margin-top: 1rem;
}

.reviews .title {
    margin-bottom: 1rem;
}

.reviews .review-text {
    color: #333;
    font-size: 1rem;
}

.reviews .review-user {
    color: #777;
    font-weight: bold;
}

.divider {
    margin: 0.5rem 0;
}